%nav
  %ul.pagination
    - dataset.page_range.each do |i|
      - if dataset.current_page == i
        %li.active
          = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)
      - else
        %li
          = link_to i, url(:leaderboard, :players, sort_by: params['sort_by'], page: i)

