# Vim
*.swp

# Git
.git/
.gitignore

# SQLite DBs
db/*.db

# Logfiles
log/*

tmp/

# CTags
tags

# File with ENV variables for docker
docker.env
docker.env.dist

# Dev-only files
.env*
!.env.dist

Makefile
util/
