.page-header
  %h1 Statistics

.row
  .col-md-4
    .panel.panel-default
      .panel-body
        In god we trust, all others bring data.
        %br
        \- W. Edwards Deming
  .col-md-8

.row
  .col-md-12
    = scheduled_player_updates_graph

.row
  .col-md-12
    = player_queries_graph

.row
  .col-md-6
    = player_update_frequencies_graph

  .col-md-6
    = player_data_points_relevance_graph
