version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Container
          command: make build
      - run:
          name: Run Tests
          command: make test
