%h2 Searching for player
.panel.panel-default
  .panel-body
    You can search for a player in our database via either of:
    %ul
      %li Account ID
      %li Current or past ingame name
      %li Steam ID: STEAM_0:0:11101
      %li Steam ID 3: U:1:22202
      %li Steam ID 32: 22202
      %li Steam ID 64: 76561197960287930
      %li Custom URL: gabelogannewell
      %li Custom Profile URL: http://steamcommunity.com/id/gabelogannewell/

    If the player is not part of our database yet, you will be able to manually
    add him.
