%h2 Searching for player
.panel.panel-default
  .panel-body
    You can search for a player in our database via either of:
    %ul
      %li Account ID
      %li Current ingame name
      %li Previous ingame names

    If the player is not part of our database yet, you will be able to manually
    add him.
