= form_tag url(:player_query, :new), method: :post do
  .form-group
    = label_tag :steam_account_id
    = text_field_tag :steam_account_id, class: 'form-control', value: params['steam_account_id'], placeholder: 'Account identifier'

  = submit_tag 'Query', class: 'btn btn-default'
