.panel.panel-info
  .panel-heading
    Adding new player
  .panel-body
    %p
      If a player is missing from our database, then you can add him. In order
      to do this, you must know his Steam ID or custom URL. You can NOT add him
      with his ingame alias!

    %p
      Following identifiers are supported to query for data:
      %ul
        %li Steam ID: STEAM_0:0:11101
        %li Steam ID 3: U:1:22202
        %li Steam ID 32: 22202
        %li Steam ID 64: 76561197960287930
        %li Custom URL: gabelogannewell
        %li Custom Profile URL: http://steamcommunity.com/id/gabelogannewell/
