%h2 Supported identifiers
.panel.panel-default
  .panel-body
    Following identifiers are supported to query for data:
    %ul
      %li Steam ID: STEAM_0:0:11101
      %li Steam ID 3: U:1:22202
      %li Steam ID 32: 22202
      %li Steam ID 64: 76561197960287930
      %li Custom URL: gabelogannewell
      %li Custom Profile URL: http://steamcommunity.com/id/gabelogannewell/
